@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Helvetica Nue', Helvetica, Arial, sans-serif;
  background: #ffffff;
}

a {
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}

.type-container {
  position: absolute;
  max-width: 600px;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
}

.message-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 16px;
}

.message {
  font-family: 'Fira Code', monospace;
  font-size: 18px;
}

.cursor {
  width: 10px;
  height: 21px;
  background: black;
  transform: translate(1px, 1px);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 24px;
  padding-bottom: 24px;
}

.social-icon-row {
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.social-icon-row > *:not(:last-child) {
  margin-right: 8px;
}

.social-icon-wrapper {
  width: fit-content;
  padding: 10px;
}

.social-icon-wrapper > svg {
  display: block;
  fill: #b3b3b3;
  transition: all 0.6s;
}

@media (hover: hover) and (pointer: fine) {
  .social-icon-wrapper:hover > svg {
    fill: #000;
  }
}
